body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}
.header {
    padding-bottom: 213px;
    padding-top: 30px;
    background-image: url(../img/bg.jpg);
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.info {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.info-item, .info-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.info-left .info-item {
    margin-right: 29px;
}
.info-right .info-item {
    margin-left: 17px;
}
.info-link {
    text-decoration: none;
}
.info-link:hover {
    color: #30a3f0;
}
.head {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 25px;
    margin-bottom: 120px;
    margin-top: 25px;
}
.nav {
    display: flex;
    padding-left: 0;
    list-style-type: none;
}
.nav-item {
    margin-left: 7px;
}
.nav-link {
    color: #444444;
    text-decoration: none;
    padding: 12px 19px;
    border: 1px solid transparent;
}
.nav-link.active {
    color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 12px 19px;
}
.nav-link:hover {
    color: #30a3f0;
}
.nav button {
    margin-left: 20px;
}
.title p {
    color: #30a3f0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto 4px;
}
.title h1 {
    color: #ffffff;
    max-width: 706px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.element {
    width: 2px;
    height: 100px;
    background-color: #30a3f0;
    margin: 0 auto;
}
.element-top {
    margin-top: 220px;
    margin-bottom: 28px;
}
.element-bottom {
    margin-top: 17px; /* 31-14*/
    margin-bottom: 41px;
}
.btn {
    color: #30a3f0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 21px 43px 19px 42px;
    margin: 0 auto;
}
.btn:hover {
    background-color: #30a3f0;
    color: #ffffff;
}
.page-line  {
    border-bottom: 1px solid #e4e4e4;
}
.box {
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-item {
    flex-basis: 33.333%;
    padding: 0 60px 109px;
}
.box-item-center {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-item h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
    margin-bottom: 28px;
}
.title-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #222222;
    text-transform: uppercase;
}
.title-h2 span {
    font-weight: 400;
    font-size: 16px;
    color: #30a3f0;
    text-transform: initial;
    display: block;
    margin-bottom: 18px;
}
.line {
    width: 52px;
    height: 14px;
    background-image: url(../img/line.png);
    display: block;
}
.description {
    color: #707070;
}
.list-description {
    color: #222222;
}
