body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}
.header {
    padding-bottom: 213px;
    padding-top: 30px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.center {
    text-align: center;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.info {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.info-item, .info-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.info-left .info-item {
    margin-right: 29px;
}
.info-right .info-item {
    margin-left: 6px;
}
.info-link {
    text-decoration: none;
}
.info-link:hover {
    color: #30a3f0;
}
.info-link svg {
    color: #30a3f0;
    margin-right: 9px;
}
.register::before {
    content: "/";
    margin-right: 6px;

}
.head {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 25px;
    margin-bottom: 120px;
    margin-top: 25px;
}
.logo {
    width: 158px;
}
.nav {
    display: flex;
    padding-left: 0;
    list-style-type: none;
}
.nav-item {
    margin-left: 7px;
}
.nav-item-btn {
    margin-left: 20px;
}
.nav-link {
    color: #444444;
    text-decoration: none;
    padding: 12px 19px;
    border: 1px solid transparent;
}
.nav-link.active {
    color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 12px 19px;
}
.nav-link:hover {
    color: #30a3f0;
}
.nav-btn {
    padding: 0;
    background-color: transparent;
    border: none;
}
.nav-btn svg{
    color: #444444;
}
.nav-btn svg:hover {
    color: #30a3f0;
}
.title p {
    color: #30a3f0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 auto 4px;
}
.title h1 {
    color: #ffffff;
    max-width: 706px;
    line-height: 60px;
    margin: 0 auto;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.element {
    width: 2px;
    height: 100px;
    background-color: #30a3f0;
    margin: 0 auto;
}
.element-top {
    margin-top: 220px;
    margin-bottom: 28px;
}
.element-bottom {
    margin-top: 17px; /* 31-14*/
    margin-bottom: 41px;
}
.btn {
    color: #30a3f0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 21px 43px 19px 42px;
    margin: 0 auto;
}
.btn:hover {
    background-color: #30a3f0;
    color: #ffffff;
}
.page-line  {
    border-bottom: 1px solid #e4e4e4;
}
.page-grey {
    background-color: #fafafa;
    padding-top: 101px;
    padding-bottom: 60px;
}
.box {
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-item {
    flex-basis: 33.333%;
    padding: 93px 60px 109px;
}
.box-item-center {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-icon {
    width: 152px;
    height: 152px;
    font-size: 40px;
    line-height: 152px;
    color: #222222;
    background-image: url(../img/grey.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.box-icon-pen {
    font-size: 30px;
}
.box-item:hover .box-icon{
    background-image: url(../img/blue.png);
    color: #ffffff;
}
.box-item h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #222222;
    margin-bottom: 28px;
    margin-top: 33px;
}
.page-mockup {
    margin-top: 100px;
    padding-bottom: 101px;
}
.box-text {
    max-width: 522px;
}
.title-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.title-h2 span {
    font-weight: 400;
    font-size: 16px;
    color: #30a3f0;
    text-transform: initial;
    display: block;
    margin-bottom: 18px;
}
.line {
    width: 52px;
    height: 14px;
    background-image: url(../img/line.svg);
    display: block;
    margin-top: 19px;
    margin-bottom: 41px;
}
.description {
    color: #707070;
    line-height: 25.99px;
    margin-top: 0;
    margin-bottom: 40px;
}
.page-grey .description {
    max-width: 676px;
    margin: 0 auto;
}
.list-description {
    color: #222222;
    padding-left: 0;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.list-description > li {
    margin-bottom: 26px;
    padding-left: 35px;
    position: relative;
}
.list-description > li::before {
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    position: absolute;
    background-image: url(../img/check.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: calc(50% - 7px);
}
.btn-blue {
    display: inline-block; 
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    background-color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 21px 40px 19px 39px;
}
.btn-blue:hover {
    color: #30a3f0;
    background-color: #ffffff;
}
.mockup {
    display: block;
    position: absolute;
    bottom: 0;
    right: -83px;
    width: 625px;
    height: 557px;
    background-image: url(../img/mockup.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.line-center {
    width: 91px;
    height: 14px;
    background-image: url(../img/line-center.svg);
    display: block;
    margin: 13px auto 32px;
}
.photo {
    display: flex;
}
.photo-item {
    overflow: hidden;
    flex-basis: 20%;
    position: relative;
    height: 350px;
}
.photo-item img {
    width: 100%; 
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    height: 350px;
     /*  чтобы картинки сдвигались пропорционально нужно поставить 100%*/
    z-index: -1;
}
.photo-active {
    display: none;
}
.photo-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(50% - 29px);
    display: none; 
}
.photo-text h3{
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 0;
}
.photo-text p{
    color: #707070;
    margin-top: 0;
    margin-bottom: 0;
}
.photo-btn {
    display: none;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 60px;
    padding: 0;
    margin: 0;
}
.photo-btn-item {
    flex-basis: 50%;   
    padding: 22px 22px 22px 22px;
    border-right: 1px solid #30a3f0;
    background-color: #ffffff;
}
.photo-btn-link {
    font-size: 16px;
    color: #222222;
    font-weight: 400;
    text-decoration: none;
}
.fa-link {
    transform: scale(1, -1);
}
.photo-item:hover {
    background-color: rgba(34, 34, 34, 0.8);
}
.photo-item:hover .photo-text {
    display: block;
}
.photo-item:hover .photo-btn {
    display: flex;
}
.photo-btn-item:hover {
    background-color: #30a3f0;
}
.photo-btn-item:hover .photo-btn-link {
    color: #ffffff;
}